@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif; 
}

nav{
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
}

nav ul{
    gap: 4rem;
}

nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

nav .logo span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline:0.4rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-family: "Kaushan Script", cursive;
}

nav .logo a{
    font-family: "Lobster Two", sans-serif;
    font-size: 3em;
}

nav ul li a{
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
}

nav .btns{
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 500;
}

nav .btns .btn{
    padding: 0.5rem 1.2rem;
    border: 2px solid black;
    border-radius: 0.5rem;

}