@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color: #000;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif; 
}

.container{
    padding-inline: 2rem;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.nav{
    position: relative;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
}

.color-white{
    color: white;
}

.nav ul{
    gap: 4rem;
    display: flex;
}

.nav .ham{
    font-size: 2.5rem !important;
    display: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.nav .logo span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline:0.4rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-family: "Kaushan Script", cursive;
}

.nav .logo a{
    font-family: "Lobster Two", sans-serif;
    font-size: 3em;
    transition: all 0.3s ease;
}

.nav ul li a{
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.8s ease;
}

.nav .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 500;
}

.nav .btns .btn{
    transition: all 0.3s ease;
    padding: 0.5rem 1.2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.nav .btns i{
    font-size: 1.5rem;
}

.hero{
    height: 100%;
    background: url(./imgs/hero\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 12rem;
    padding-bottom: 6rem;
    position: relative;
    gap: 4rem;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: rgb(0, 0, 25);
	padding-block: 120px 50px;
	transition: 0.4s;
    height: calc(100vh - 60px); /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.scroll-lock {
    overflow: hidden;
}


.is-active{
    left: 0;
}

.sticking{
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(136, 136, 136, 0.34);
}
.sticking2{
    background: rgba( 247, 240, 240, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mobile-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    background-color: #262626;
}

.mobile-nav li{
    width: 100%;
}

.mobile-nav .search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.mobile-nav #search{
    width: 70vw;
    height: 7vh;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
}

.mobile-nav .search a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.mobile-nav .search i{
    font-size: 1.5em;
    color: #fff;
}

.mobile-nav ul li a{
    display: block;
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.8s ease;
    color: #fff;
    background-color: rgb(33, 33, 33);
    border-radius: 0.4rem;
    border: 1px solid black;
}

.mobile-nav .tabs{
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    overflow-x: auto;
    margin-block: 2rem ;
}

.mobile-nav .tabs::-webkit-scrollbar{
    display: none;
}

.mobile-nav .tab{
    background-color: #8d8d8d;
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
}

.mobile-nav .btns{
    margin-top: 2rem;
    padding-inline:2rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav .login{
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    padding: 0.6rem 2.6rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
}

.mobile-nav .signup{
    font-size: 1rem;
    color: #fff;
    background-color: #212121;
    padding: 0.6rem 2.6rem;
    border-radius: 0.5rem;
}

.hero::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .top{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    z-index: 1;
}

.hero .top .top1{
    max-width: 50%;
}

.hero .top .top1 h1{
    transition: all 0.2s ease; 
    font-size: 4rem;
    line-height: 5rem;
}

.hero .top .top1 h1 span{
    transition: all 0.2s ease; 
    color: white;
}

.hero .top .top2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.hero .top .top2 .left{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hero .top .top2 .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.btn2{
    background: white;
    padding: 0.5rem 1.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
}

.hero .top .btns i{
    transition: all 1s ease; 
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 50%;
}

.hero .top .btns .btnSecondary{
    color: white;
}

.hero .top .top2 .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.hero .top .top2 .socials i{
    transition: all 1s ease; 
    font-size: 2rem;
    color: white;
    border-radius: 50%;
}

.hero .top .top2 .right{
    border-left: 1px solid white;
    padding-left: 2rem;
    color: rgb(209, 209, 209);
}

.hero .top .top2 .right h4{
    font-weight: 200;
    font-size: 1.6rem;
    transition: all 1s ease; 
}

.hero .top .top2 .right p{
    max-width: 40rem;
    font-weight: 200;
    font-size: 1rem;
    transition: all 1s ease; 
}

.hero .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(136, 136, 136, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.hero .b1{
    display: flex;
    align-items: center;
    justify-content: center;;
}

.hero .b1 h5{
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    background: #000;
    color: #fff;
}

.hero .b1 h5:nth-child(1){
    color: black;
    background-color: #fff;
}

.hero .b2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero .b2 .b2-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .b2 .b2-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .card{
    background-color: #fff;
    padding: 1.5rem 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.hero .b2 .b2-1 .card:first-child{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.hero .b2 .b2-2 .card:last-child{
    padding:1.3rem 2rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.hero .mobile .dest{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.hero .mobile .send{
    padding:1.3rem 2rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.hero .bottom .mobile{
    display: none;
    width: 100%;
}

.gradient{
    height: 6rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(to bottom, rgba(2,0,36,0) 0%, rgba(1,0,29,0.05374649859943981) 21%, rgba(1,0,30,0.38147759103641454) 66%, rgba(1,0,30,0.5579481792717087) 76%, rgba(0,0,0,1) 100%);
    z-index: 10;
}

/* .slide1{
    background-color: black;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slide .element{
    width: fit-content;
    min-width: 22rem;
    height: 100%;
}

.slide1 .slide{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.2rem;
    overflow-x: hidden;
}

.element .top{
    position: relative;
    height: 35rem;
    width: 100%;
    border-radius: 1rem;
}

.element .top .heart{
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    font-size: 2rem;
}

.element img{
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.element .rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    border-bottom: 1px solid #eee;
}

.element .rating .name{
    color: #fff;
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 500;
}

.element .rating .stars{
    display: flex;
    align-items: center;
    justify-content: end;
}

.element .rating .stars i{
    color: #fff;
}

.element .desc{
    padding-top: 1rem;
    color: rgb(180, 180, 180);
}

.element .desc span{
    color: rgb(241, 241, 241);
    font-weight: 500;
}

.arrows{
    color: #fff;
}

.content{
    position: relative;
    z-index: 2;
} */

.slide1{
    background-color: black;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.swiper {
      width: 100%;
      height: 100%;
      padding-bottom: 2rem !important;
    }

    .swiper-slide {
      font-size: 18px;
      display: flex;
      justify-content: start;
      align-items: start;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-slide .top{
        position: relative;
        height: 35rem;
        width: 100%;
        border-radius: 1rem;
    }
    
    .swiper-slide .top .heart{
        position: absolute;
        top: 0.8rem;
        right: 1.5rem;
        font-size: 2rem;
    }
    
    .swiper-slide img{
        border-radius: 1rem;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .swiper-slide .rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 1rem;
        border-bottom: 1px solid #eee;
    }
    
    .swiper-slide .rating .name{
        color: #fff;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    .swiper-slide .rating .stars{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .swiper-slide .rating .stars i{
        font-size: 1rem;
        color: #fff;
    }
    
    .swiper-slide .desc{
        padding-top: 1rem;
        color: rgb(180, 180, 180);
        font-size: 1rem;
    }
    
    .swiper-slide .desc span{
        color: rgb(241, 241, 241);
        font-weight: 500;
    }
    
    .swiper-pagination {
        margin-top: 2rem !important;
        color: white; /* Set the color to white */
      }
      
      .swiper-pagination .swiper-pagination-bullet {
        background-color: white; /* Set the bullet color to white */
      }

      .arrows{
        margin-top: 8rem;
    }
    
    .arrows button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .arrow{
        font-size: 2rem;
        color: #fff;
    }

    .content{
        color: #d6d6d6;
        width: 40vw;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .content .text{
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
    }

    .content .text h2{
        font-size: 2.6rem;
        font-weight: 500;
        transition: all 0.5s ease; 
    }
    .content .text>p{
        color: #8d8d8d;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.5s ease; 
    }
    
    .content .counts{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .content .counts .count{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 3rem;
        width: 100%;
    }

    .count p{
        transition: all 0.5s ease;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .count span{
        justify-self: end ;
    }
