@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif; 
}

.container{
    padding-inline: 2rem;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
}

nav ul{
    gap: 4rem;
    display: flex;
}

nav .ham{
    font-size: 2.5rem !important;
    display: none;
}

nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

nav .logo span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline:0.4rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-family: "Kaushan Script", cursive;
}

nav .logo a{
    font-family: "Lobster Two", sans-serif;
    font-size: 3em;
    transition: all 0.3s ease;
}

nav ul li a{
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.8s ease;
}

nav .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 500;
}

nav .btns .btn{
    transition: all 0.3s ease;
    padding: 0.5rem 1.2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

nav .btns i{
    font-size: 1.5rem;
}

.hero{
    height: 100%;
    background: url(./imgs/hero\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 12rem;
    position: relative;
    gap: 4rem;
}

.hero::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .top{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    z-index: 1;
}

.hero .top .top1{
    max-width: 50%;
}

.hero .top .top1 h1{
    transition: all 0.2s ease; 
    font-size: 4rem;
    line-height: 5rem;
}

.hero .top .top1 h1 span{
    transition: all 0.2s ease; 
    color: white;
}

.hero .top .top2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.hero .top .top2 .left{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hero .top .top2 .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.hero .top .btns .btn2{
    background: white;
    padding: 0.5rem 1.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
}

.hero .top .btns i{
    transition: all 1s ease; 
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 50%;
}

.hero .top .btns .btnSecondary{
    color: white;
}

.hero .top .top2 .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.hero .top .top2 .socials i{
    transition: all 1s ease; 
    font-size: 2rem;
    color: white;
    border-radius: 50%;
}

.hero .top .top2 .right{
    border-left: 1px solid white;
    padding-left: 2rem;
    color: rgb(209, 209, 209);
}

.hero .top .top2 .right h4{
    font-weight: 200;
    font-size: 1.6rem;
    transition: all 1s ease; 
}

.hero .top .top2 .right p{
    max-width: 40rem;
    font-weight: 200;
    font-size: 1rem;
    transition: all 1s ease; 
}

.hero .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(136, 136, 136, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.hero .b1{
    display: flex;
    align-items: center;
    justify-content: center;;
}

.hero .b1 h5{
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    background: #000;
    color: #fff;
}

.hero .b1 h5:nth-child(1){
    color: black;
    background-color: #fff;
}

.hero .b2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero .b2 .b2-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .b2 .b2-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .b2 .card{
    background-color: #fff;
    padding: 1.5rem 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.hero .b2 .b2-1 .card:first-child{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.hero .b2 .b2-2 .card:last-child{
    padding:1.3rem 2rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.slide1{
    height: 200vh;
    background: rgb(2,0,36);
    background: linear-gradient(to bottom, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 100%);
}